<header>
    <div class="logo">myFolio</div>
    <nav>
        <ul>
            <li><a id="homeNavLi" class="activeLi navLi" href="/">home</a></li>
            <li><a id="aboutNavLi" class="navLi" href="/about">about me</a></li>
            <li><a id="contactNavLi" class="navLi" href="/contact">contact me</a></li>
        </ul>
    </nav>
    <div class="menuToggle">
        <img id="mobileMenu" src="/imgs/menu.png" >
    </div>
</header>