<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="">myFolio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li id="homeNavLi" class="nav-item active">
          <a class="nav-link" href="/">home</a>
        </li>
        <li id="aboutNavLi" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/about">about</a>
          <div class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/about#aboutContainer">about me</a>
            <a class="dropdown-item" href="/about#skillsContainer">computer skills</a>
          </div>
        </li>
        <li id="contactNavLi" class="nav-item">
          <a class="nav-link" href="/contact">contact</a>
        </li>
        <!-- TODO: Drop Down for PROJECTS -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
</nav>