<%- include("partials/head") %>
<%- include("partials/myNavbar") %>

<h1 class="firstElement">Portfolio Home Page</h1>

<div id="homeContainer">
    <div id="homeLeftSide" class="fadeIn">
        <img id="profilePic" src="/imgs/profile.png" alt="">
        <h2>Ricky Marmol</h2>
        <div id="iconDiv">
            <a target="_blank" href="https://www.instagram.com/ricky.bjj/"><img class="icon" src="/imgs/instagram.svg" alt=""></a>
            <a target="_blank" href="https://www.facebook.com/ricky.marmol1/"><img class="icon" src="/imgs/facebook.svg" alt=""></a>
            <a target="_blank" href="https://www.linkedin.com/in/ricky-marmol-83b82687/"><img class="icon" src="/imgs/linkedin.svg" alt=""></a>
            <a target="_blank" href="https://github.com/rmarmol88"><img class="icon" src="/imgs/github.svg" alt=""></a>
        </div>
    </div>
    <div id="homeRightSide">
        <div class="line">Hello World.</div>
        <div class="line">This is my Portfolio.</div>
        <div class="line">Built with EJS, CSS and JavaScript.</div>
        <div class="line">Node.js and Express for the backend.</div>
        <div class="line">Flaticon for icons.</div>
    </div>
</div>

<%- include("partials/footer") %>