<%- include("partials/head") %>
<%- include("partials/myNavbar") %>

<div class="mainContainer">
    <h2 class="firstElement">Projects</h2>
    <p>Find my projects on <a href="https://github.com/rmarmol88?tab=repositories" target="_blank">github</a></p>
    <div id="simonsaysContainer">
        <h3>Play Simon Says</h3>
        <div id="circle">
            <div id="circleQ1" class="quarter"></div>
            <div id="circleQ2" class="quarter"></div>
            <div id="circleQ3" class="quarter"></div>
            <div id="circleQ4" class="quarter"></div>
        </div>
        <button id="startSimonsays">start</button>
    </div>    

</div>

<%- include("partials/footer") %>