<%- include("partials/head") %>
<%- include("partials/myNavbar") %>

<div class="mainContainer">
    <div id="projectsHeader" class="firstElement">
        <h2>Projects</h2>
        <p>Find my projects on <a href="https://github.com/rmarmol88?tab=repositories" target="_blank">github</a></p>
        <div id="projectSelectionDiv">
            <button id="simonSaysSelectButton" class="projectSelectors activeProject" onclick="this.blur();">SIMON SAYS</button>
            <button id="graphGenSelectButton" class="projectSelectors" onclick="this.blur();">GRAPH GENERATOR</button>
            <button id="bettingCalcSelectButton" class="projectSelectors" onclick="this.blur();">BETTING CALCULATOR</button>
        </div>
    </div>
    <div id="simonsaysContainer" class="projectsContainer fadeIn">
        <h3 id="simonSaysLabel" class="containerLabel">Play Simon Says</h3>
        <div id="simonSaysForm" class="projectForm">
            <div class="formRow">
                <div id="circle">
                    <div id="circleQ1" class="quarter"></div>
                    <div id="circleQ2" class="quarter"></div>
                    <div id="circleQ3" class="quarter"></div>
                    <div id="circleQ4" class="quarter"></div>
                </div>
            </div>
            <div id="simonSaysButtonRow" class="formRow">
                <button id="startSimonsays" onclick="this.blur();">START</button>
            </div>
        </div>
    </div>   
    <div id="bettingCalculatorContainer" class="projectsContainer fadeIn">
        <h3 id="bettingCalculatorLabel" class="containerLabel">Betting Calculator</h3>
        <div id="bettingCalculator" class="projectForm">
            <div class="formRow">
                <label for="betOdd">What odd are you getting?</label>                 
                <input id="betOdd" class="formInput calcInput" type="text">
            </div>
            <div class="formRow">
                <label for="impliedOdds">Your implied odds:</label>
                <input id="impliedOdds" class="formInput calcInput disabled" type="text" disabled="disabled">
            </div>
            <div class="formRow">
                <input id="usersEdge" class="formInput calcInput disabled" type="text" disabled="disabled">
            </div>
            <div class="formRow">
                <button id="clearCalcButton" onclick="this.blur();">CLEAR</button>
            </div>
        </div>
    </div> 
    <div id="graphGeneratorContainer" class="projectsContainer fadeIn">
        <h3 id="graphGeneratorLabel" class="containerLabel" >Graph Generator</h3>
        <div id="graphGenerator" class="projectForm">
            <div class="formRow">
                <label for="chartType">Select the chart type:</label>                 
                <select class="formInput" name="chartType" id="chartType">
                    <option value="bar">BAR</option>
                    <option value="line">LINE</option>
                    <option value="pie">PIE</option>
                </select>
            </div>
            <div id="parentRow">
                <div id="datasetRow" class="formRow">
                    <label for="datasetLabels">Dataset Label:</label>
                    <span id="datasetLabelsSpan">
                        <input id="datasetLabels" class="formInput datasetLabelClass" type="text" placeholder="Food" required>
                        <button id="addDatasetLabel" onclick="this.blur()">+</button>
                    </span>
                </div>
            </div>
            <div id="xParentRow">
                <div id="dataLabelRow" class="formRow">
                    <label for="dataLabels">Data Labels (x axis):</label>
                    <input id="dataLabels" class="formInput xDataLabel" type="text" placeholder="Dog" required>
                </div>
            </div>
            <div id="yParentRow">
                <div class="formRow">
                    <label for="datasetData">Dataset Values (y axis):</label>
                    <input id="datasetData" class="formInput yDataset" type="text" placeholder="20" required>
                </div>
            </div>
            <div class="formRow">
                <button id="addGraphDataButton" onclick="this.blur();">ADD DATA</button>
            </div>
            <div class="formRow">
                <button id="getGraphButton" onclick="this.blur();">GET GRAPH</button>
            </div>
            <div id="picContainer">
            </div>
        </div>
    </div>

</div>

<%- include("partials/footer") %>