* {
    box-sizing: border-box;
}

#contactContainer {
    width: 75%;
    margin: auto;
    margin-bottom: 20px;
}

#formContainer {
    width: 50%;
    min-width: 400px;
}

#mapContainer {
    width: 50%;
    display: flex;
}

form input,
form textarea {
    margin: 10px 10px 10px 0px;
    width: 80%;
    font-size: 1rem;
    border-radius: 5px;
    line-height: 1.5;
    border: 1px solid grey;
}

form input:focus,
form textarea:focus {
    box-shadow: 0 0 3pt 2pt turquoise;
    outline: none;
}

#submit {
    cursor: pointer;
    background-color: teal;
    border-color: teal;
    color: white;
}

#map {
    align-self: center;
    width: 100%;
    height: 80%;
    min-height: 330px;
}

#thankYouMessage {
    padding: 15px
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }

    #formContainer {
        min-width: 300px;
    }

    #mapContainer {
        display: none;
    }

    form input,
    form textarea {
        width: 100%;
    }
}